<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ceb1df">  <td>19/11/10 18:01:55</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;demoTest.chromeInitialization()[pri:0, instance:GitLab_Practise.demoTest@59af0466]">&gt;&gt;chromeInitialization</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1201173334</td>   <td></td> </tr>
<tr bgcolor="ceb1df">  <td>19/11/10 18:01:58</td>   <td>2489</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="demoTest.openWebsite()[pri:2, instance:GitLab_Practise.demoTest@59af0466]">openWebsite</td> 
  <td>main@1201173334</td>   <td></td> </tr>
<tr bgcolor="ceb1df">  <td>19/11/10 18:02:01</td>   <td>5747</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="demoTest.maximizeWindow()[pri:3, instance:GitLab_Practise.demoTest@59af0466]">maximizeWindow</td> 
  <td>main@1201173334</td>   <td></td> </tr>
<tr bgcolor="ceb1df">  <td>19/11/10 18:02:02</td>   <td>6892</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="demoTest.login()[pri:4, instance:GitLab_Practise.demoTest@59af0466]">login</td> 
  <td>main@1201173334</td>   <td></td> </tr>
<tr bgcolor="ceb1df">  <td>19/11/10 18:02:04</td>   <td>8946</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;demoTest.quitBrowser()[pri:0, instance:GitLab_Practise.demoTest@59af0466]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1201173334</td>   <td></td> </tr>
</table>
